body{
    background-color: #adb5bd;
}

table td{
    border: 1px solid #fff;
    height: 70px;
    width: 70px;
}

table{
    border-collapse: collapse;
    border: 1px solid #fff;
}

.container{
	width: 25%;
	height: 100%;
    margin: 0 auto;
}

table tr td{
    background-color: #00FF80;
}